* {
    padding: 0;
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    user-select: none;
    border: none;
    text-transform: uppercase;
}

.bg {
    height: 100vh;
}

.link__image {
    height: 55%;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -9px;
    width: 10%;
}

.link {
    width: calc(100% - 21px);
    display: flex;
    flex-direction: row;
    padding: 9px;
    background-color: #1a161d;
    border-top: 3px solid #453351;
    border-left: 3px solid #392e40;
    border-bottom: 3px solid #0a080b;
}

.link_with-image {
    width: calc(100% - 12px);
    padding: 0 0 0 9px;
}

.link__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link__title {
    color: #dac8e7;
}

.link__subtitle {
    color: #7c6b88;
}

.menu{
    text-align: center;
    padding: 25px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.max__score, .max__win, .max__total{
    flex: 1;
    margin-right: 10px;
}

.menu__title{
    text-align: left;
    padding: 10px;
    background-color: #174632;
    border-top: 3px solid #228057;
    border-left: 3px solid #228057;
    border-bottom: 3px solid #0c2e1f;
    margin-bottom: 30px;
}

.menu__title h1{
    font-size: 35px;
    margin-bottom: 5px;
}

.menu__title h2{
    font-size: 20px;
}

.menu-wrapper{
    overflow-y: scroll;
    align-items: flex-end;
    max-height: 50%;
}

.menu-wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: #1a161d;
}

.menu-wrapper::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background-color: #243e25;
}

.menu-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #1a161d;
}

.player{
    display: flex;
    background-color: #174632;
    border-top: 3px solid #228057;
    border-left: 3px solid #228057;
    border-bottom: 3px solid #0c2e1f;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 10px;
}

.player-info{
    height: 100%;
    display: flex;
}

.player-name{
    padding: 10px;
}

.player-position{
    margin-right: 10px;
    height: 100%;
    padding: 10px;
    background-color: #103a28;
}

.player-score{
    padding: 10px;
}