* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    user-select: none;
    border: none;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #fff;  
    text-transform: uppercase;
}

.bg 
{
    min-height: 100vh;
    height: 100%;
    background: url("https://i.postimg.cc/1zyHTmtK/bg.png") no-repeat;
    background-size: cover;
}

.bg_dark 
{
    background: url("https://i.postimg.cc/1zyHTmtK/bg.png") no-repeat;
    background-size: cover;
}

.link__image 
{
    height: 55%;
}

.menu__item 
{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 9px;
    display: flex;
    flex-direction: column;
    background-color: #1a161d;
    border-top: 3px solid #453351;
    border-left: 3px solid #392e40;
    border-bottom: 3px solid #0a080b;
}

.item__title 
{
    color: #dac8e7;
}

.item__subtitle 
{
    color: #7c6b88;
    font-size: 16px;
}

.menu
{
    width: 80%;
    margin: 0 0 0 auto;
}
.back-button-link {
    position: relative;
    left: 0;
    top: 0;
    width: fit-content;
    transform: translateX(-2em);
    background-color: #242424;
    border-top: 3px solid #3d3d3d;
    border-right: 3px solid #181818;
    border-bottom: 3px solid #0e0e0e;
    box-shadow: 0 0 8px #000;
    color: #c9c9c9;
    border-radius: 3px;
    filter: brightness(1);
    transition: .5s transform, .5s filter, .5s opacity;
    padding-top: .5em;
    padding-bottom: .3em;
    padding-left: 3.5em;
    padding-right: .5em;
    margin-bottom: .25em;
    cursor: pointer;
    z-index: 10;

}
.back-button-link:active {
    transform: translateX(0);
    filter: brightness(1.5);
    transition: 50ms transform, 0s filter, .5s opacity;
}
.back-button-link:hover {
    transform: translateX(0);
    filter: brightness(1.5);
    transition: 50ms transform, 0s filter, .5s opacity;
}
.list-title
{
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

.join-title
{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.join-lobby
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    outline:none;
}
.join
{
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    width: 850px;
    height: 69px;
    background: #222;
    font-family: "Russo One", sans-serif;
    font-size: 32px;
}

.join-button
{
    width: 450px;
    padding: 15px 0 15px 0;
    text-align: center;
    background-color: #1E48FF;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.joinn {
   position: absolute;
   left: 50%;
   display: flex;
   flex-direction: row;
   transform: translate(-50%, 0);
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.back {
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #242424;
    border-top: 3px solid #3d3d3d;
    border-right: 3px solid #181818;
    border-bottom: 3px solid #0e0e0e;
    box-shadow: 0 0 8px #000;
    color: #c9c9c9;
    width: 175px;
}

.back__button {
    padding: 8px;
    padding-left: 40px;
}