*
{
    margin: 0;
    padding: 0;
    font-family: "Russo One", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

body
{
    max-width: 100%;
    max-height: 100%;
    background-image: url(/images/bg.png);
    background-size: cover;  
}

.logo
{
    padding-top: 50px;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
}

.login
{
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto;
    width: 900px;
    padding: 21px 25px;
    border-radius: 10px;
}

.login__title
{
    font-size: 32px;
    margin-bottom: 15px;
}

.login-input__username-input
{
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    width: 850px;
    height: 50px;
    background: #222;
    font-family: "Russo One", sans-serif;
    font-size: 32px;
    margin-bottom: 19px;
}

.login-input__password-input {
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    width: 850px;
    height: 50px;
    background: #222;
    font-family: "Russo One", sans-serif;
    font-size: 32px;
    margin-bottom: 19px;
    padding-bottom: 5px;
}
.login-input__password-input::placeholder {
    padding-bottom: 0;

}
.login-input__username-input:not(:placeholder-shown), 
.login-input__password-input:not(:placeholder-shown)
{
    color: white;       
}



.view-pass{
    display: none;
}

.login-input__button
{
    display: flex;
    gap: 25px;
}

.register
{
    width: 375px;
    padding: 15px 0;
    text-align: center;
    background-color: #AAAAAA;
    color: #000000;
    font-size: 32px;
    font-weight: 800;
    border-radius: 5px;
}

::placeholder {
    color: #FFFFFF;
  }
.login-button
{
    width: 450px;
    padding: 15px 0;
    text-align: center;
    background-color: #1E48FF;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login-input__password-require, 
.login-input__username-validation, 
.login-input__username-require
{
    font: 400 12px/16px "Russo One", sans-serif;
    text-align: left;
    color: rgba(232, 105, 97, 1);
    display: none;
}

.login-input__username-error
{
    font: 400 12px/16px "Russo One", sans-serif;
    text-align: left;
    color: rgba(232, 105, 97, 1);
    padding-bottom: 5px;
}