* {
    padding: 0;
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    color: #9CCA95;
    text-transform: uppercase;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(/images/bg.png) no-repeat;
    background-size: cover;
}

#image-input {
    display: none
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 25px;
}

.header__settings,
.header__exit {
    width: 40px;
    height: 40px;
}

.main {
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.description-user {
    padding-left: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    margin: 30px auto 50px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.general-results {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #243e25;
    display: flex;
    flex-direction: column;
    gap: 7px 0;
}

.username {
    text-align: center;
}

.single-game,
.multiplayer-game {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.count-multiplayer-game,
.count-solo-game {
    white-space: nowrap
}

.count-win-game {
    padding-left: 6px;
    white-space: nowrap
}

.achievement__item {
    position: relative;
    width: 100%;
    height: 108px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 14px;
    display: flex;
    background-color: #1a161d;
    border-top: 3px solid #453351;
    border-left: 3px solid #392e40;
    border-bottom: 3px solid #0a080b;
    border-right: 3px solid #0a080b;
    border-radius: 30px;
}

.item__title {
    color: #9CCA95;
    font-size: 24px;
}

.achievement__title{
    color: #dac8e7;
    font-size: 32px;
}

.item__image {
    width: 64px;
    height: 64px;
    padding-right: 20px;
}

.item__subtitle {
    color: #7c6b88;
    font-size: 18px;
}

.back {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    border-top: 3px solid #3d3d3d;
    border-right: 3px solid #181818;
    border-bottom: 3px solid #0e0e0e;
    box-shadow: 0 0 8px #000;
    color: #c9c9c9;
    max-width: 160px;
}

.link_back {
    padding: 8px;
    font-size: 32px;
    color: #fff;
}

.other-information {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 70vh;
    width: 60vw;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 75px auto 0;
}

.achievement {
    max-width: 780px;
    width: 100%;
    height: 100%;
}

.prev-button,
.next-button {
    width: 50px;
    height: 50px;
    background-color: #1a161d;
    border: none;
    font-size: 24px;
    color: white;
    border-radius: 50%;
}

.other-information__title{
    font-size: 42px;
    color: #fff;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0,0,0,0.5); 
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 30px;
    top: 0;
    left: 0;
}