* {
    padding: 0;
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    user-select: none;
    border: none;
    text-transform: uppercase;
}

.bg {
    height: 100vh;
    background: url("https://i.postimg.cc/1zyHTmtK/bg.png") no-repeat;
    background-size: cover;
}

.bg_dark {
    background: url("https://i.postimg.cc/1zyHTmtK/bg.png") no-repeat;
    background-size: cover;
}

.settings {
    width: 40px;
    height: 40px;
    display: none;
}

.header {
    display: flex;
    justify-content: end;
    padding: 25px;
}

.logo {
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.profile {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__nickname {
    font-size: 32px;
    color: #fff;
    margin: 10px;
}

.profile__avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.link__image {
    height: 55%;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    width: 12%;
}

.link {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 9px;
    background-color: #1a161d;
    border-top: 3px solid #453351;
    border-left: 3px solid #392e40;
    border-bottom: 3px solid #0a080b;  
    margin-bottom: 1em;
    height: 5em;
    left: 6em;
    transform: translateX(0);
    filter: brightness(1);
    transition: .5s transform, .5s filter;
}

.link:hover {
    transform: translateX(-4em);
    filter:brightness(1.2);
    transition: .2s transform, .2s filter;
    padding-right: 4em;
}
.link:active {
    transform: translateX(-6em);
    filter: brightness(1.5);
    transition: 50ms transform, 0s filter;
    padding-right: 6em;
}

.link_with-image {
    padding: 0 0 0 18px;
    height: 7em;
}

.link__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link__title {
    color: #dac8e7;
}

.link__subtitle {
    color: #7c6b88;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    align-items: start;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: start;
}

.links {
    position: fixed;
    left: 0;
    right: 0;
    top: 6em;
    bottom: 3em;
    padding: 2.5em 0;
    padding-left: 15vw;
    gap: 16px;
}

.links_start {
    margin-top: 50px;
}
.back-button-link {
    position: relative;
    left: 0;
    top: -1em;
    width: fit-content;
    transform: translateX(-2em);
    background-color: #242424;
    border-top: 3px solid #3d3d3d;
    border-right: 3px solid #181818;
    border-bottom: 3px solid #0e0e0e;
    box-shadow: 0 0 8px #000;
    color: #c9c9c9;
    border-radius: 3px;
    filter: brightness(1);
    transition: .5s transform, .5s filter, .5s opacity;
    padding-top: .5em;
    padding-bottom: .3em;
    padding-left: 3.5em;
    padding-right: .5em;
    margin-bottom: .25em;
    cursor: pointer;
    z-index: 10;

}
.back-button-link:active {
    transform: translateX(0);
    filter: brightness(1.5);
    transition: 50ms transform, 0s filter, .5s opacity;
}
.back-button-link:hover {
    transform: translateX(0);
    filter: brightness(1.5);
    transition: 50ms transform, 0s filter, .5s opacity;
}

.custom {
    background-color: #343946;
    border-top: 3px solid #49536b;
    border-left: 3px solid #40485b;
    border-bottom: 3px solid #2a2e38;
}

.custom__subtitile {
    color: #929cb6;
}

.custom__title {
    color: #afc0e8;
}

.listing {
    background-color: #3a4746;
    border-top: 3px solid #4e6c6a;
    border-left: 3px solid #445b5a;
    border-bottom: 3px solid #2f3b3a;
}

.listing__subtitle {
    color: #8faeac;
}

.listing__title {
    color: #a7d0ce;
}

.zen {
    background-color: #331933;
    border-top: 3px solid #6b2b69;
    border-left: 3px solid #582957;
    border-bottom: 3px solid #2e162e;
}

.zen__subtitle {
    color: #c993cc;
}

.zen__title {
    color: #fdb9ff;
}

.l40 {
    background-color: #2a211b;
    border-top: 3px solid #643b1d;
    border-left: 3px solid #48301e;
    border-bottom: 3px solid #13100e;
}

.l40__subtitle {
    color: #c08051;
}

.l40__title {
    color: #ffba88;
}

.blitz {
    background-color: #3e1c1c;
    border-top: 3px solid #6b2b2b;
    border-left: 3px solid #582929;
    border-bottom: 3px solid #2e1616;
}

.blitz__subtitle {
    color: #cc9393;
}

.blitz__title {
    color: #ffb9b9;
}

.multiplayer {
    background-color: #34222d;
    border-top: 3px solid #472d3d;
    border-left: 3px solid #3c2734;
    border-bottom: 3px solid #271b22;
}

.multiplayer__title {
    color: #f1bcdb;
}

.multiplayer__subtitle {
    color: #C093AE;
}

.solo {
    background-color: #1e1d2d;
    border-top: 3px solid #2e2d42;
    border-left: 3px solid #272639;
    border-bottom: 3px solid #12111b;
}

.solo__title {
    color: #BAB8DF;
}

.solo__subtitle {
    color: #7874A5;
}

.about {
    background-color: #222;
    border-top: 3px solid #2a2a2a;
    border-left: 3px solid #262626;
    border-bottom: 3px solid #131313;
}

.about__title {
    color: #C0C0C0;
}

.about__subtitle {
    color: #919191;
}

.bot {
    background-color: #1c263e;
    border-top: 3px solid #1d3164;
    border-left: 3px solid #1e2a48;
    border-bottom: 3px solid #0e0f13;
}

.bot__title {
    color: #88afff;

}

.bot__subtitle {
    color: #5169c0;
}

.leaders {
    background-color: #1c3e2a;
    border-top: 3px solid #1d6429;
    border-left: 3px solid #1e4822;
    border-bottom: 3px solid #0e130f;
}

.leaders__title {
    color: #8f9;
}

.leaders__subtitle {
    color: #51c063;
}

.koop {
    background-color: #4f1818;
    border-top: 3px solid #902d2d;
    border-left: 3px solid #722222;
    border-bottom: 3px solid #2f0d0d;
}
.koop__title {
    color: #ff9c9c;
}

.koop__subtitle {
    color: #b26565;
}