* {
    padding: 0;
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    user-select: none;
    border: none;
    text-transform: uppercase;
}

body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg {
    height: 100vh;
    background: url(/images/bg.png) no-repeat;
    background-size: cover;
} */

/* .bg_dark {
    background: url(/images/dark-bg.png) no-repeat;
    background-size: cover;
} */

.settings {
    width: 40px;
    height: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

/* .logo {
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
} */

.profile {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__nickname {
    font-size: 32px;
    color: #fff;
    margin: 10px;
}

.profile__avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.link__image {
    height: 55%;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -9px;
    width: 10%;
}

.link {
    width: calc(100% - 21px);
    display: flex;
    flex-direction: row;
    padding: 9px;
    background-color: #1a161d;
    border-top: 3px solid #453351;
    border-left: 3px solid #392e40;
    border-bottom: 3px solid #0a080b;
}

.link_with-image {
    width: calc(100% - 12px);
    padding: 0 0 0 9px;
}

.link__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link__title {
    color: #dac8e7;
    font-size: 30px;
}

.link__subtitle {
    color: #7c6b88;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    align-items: start;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: start;
}

.links {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 16px;
}

.links_start {
    margin-top: 50px;
}

.back {
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #242424;
    border-top: 3px solid #3d3d3d;
    border-right: 3px solid #181818;
    border-bottom: 3px solid #0e0e0e;
    box-shadow: 0 0 8px #000;
    color: #c9c9c9;
}

.back__button {
    padding: 8px;
    padding-left: 40px;
    font-size: 30px;
}

.custom {
    background-color: #343946;
    border-top: 3px solid #49536b;
    border-left: 3px solid #40485b;
    border-bottom: 3px solid #2a2e38;
}

.custom__subtitile {
    color: #929cb6;
}

.custom__title {
    color: #afc0e8;
}

.listing {
    background-color: #3a4746;
    border-top: 3px solid #4e6c6a;
    border-left: 3px solid #445b5a;
    border-bottom: 3px solid #2f3b3a;
}

.listing__subtitle {
    color: #8faeac;
}

.listing__title {
    color: #a7d0ce;
}

.zen {
    background-color: #331933;
    border-top: 3px solid #6b2b69;
    border-left: 3px solid #582957;
    border-bottom: 3px solid #2e162e;
}

.zen__subtitle {
    color: #c993cc;
}

.zen__title {
    color: #fdb9ff;
}

.l40 {
    background-color: #2a211b;
    border-top: 3px solid #643b1d;
    border-left: 3px solid #48301e;
    border-bottom: 3px solid #13100e;
}

.l40__subtitle {
    color: #c08051;
}

.l40__title {
    color: #ffba88;
}

.blitz {
    background-color: #3e1c1c;
    border-top: 3px solid #6b2b2b;
    border-left: 3px solid #582929;
    border-bottom: 3px solid #2e1616;
}

.blitz__subtitle {
    color: #cc9393;
}

.blitz__title {
    color: #ffb9b9;
}

.multiplayer {
    background-color: #34222d;
    border-top: 3px solid #472d3d;
    border-left: 3px solid #3c2734;
    border-bottom: 3px solid #271b22;
}

.multiplayer__title {
    color: #f1bcdb;
}

.multiplayer__subtitle {
    color: #C093AE;
}

.solo {
    background-color: #1e1d2d;
    border-top: 3px solid #2e2d42;
    border-left: 3px solid #272639;
    border-bottom: 3px solid #12111b;
}

.solo__title {
    color: #BAB8DF;
}

.solo__subtitle {
    color: #7874A5;
}

.about {
    background-color: #222;
    border-top: 3px solid #2a2a2a;
    border-left: 3px solid #262626;
    border-bottom: 3px solid #131313;
}

.about__title {
    color: #C0C0C0;
}

.about__subtitle {
    color: #919191;
}

.bot {
    background-color: #1c3e2a;
    border-top: 3px solid #1d6429;
    border-left: 3px solid #1e4822;
    border-bottom: 3px solid #0e130f;
}

.bot__title {
    color: #8f9;
}

.bot__subtitle {
    color: #51c063;
}

.koop {
    background-color: #4f1818;
    border-top: 3px solid #902d2d;
    border-left: 3px solid #722222;
    border-bottom: 3px solid #2f0d0d;
}
.koop__title {
    color: #ff9c9c;
}

.koop__subtitle {
    color: #b26565;
}