* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    border: none;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    color: #fff;
}

body {
    height: 100vh;
    width: 100vw;
    background: url("https://i.postimg.cc/1zyHTmtK/bg.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.profile {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__nickname {
    font-size: 32px;
    color: #fff;
    margin: 10px;
}

.profile__avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.link__image {
    height: 55%;
}

.menu-img {
    width: 40px;
    height: 40px;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -9px;
    width: 10%;
}

.settings{
    width: 60%;
}

.settings__item-language,
.settings__item-bg,
.settings__item{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 9px 9px 9px 20px;
    display: flex;
    flex-direction: column;
    background-color: #1a161d;
    border-top: 3px solid #453351;
    border-left: 3px solid #392e40;
    border-bottom: 3px solid #0a080b;
    gap: 10px;
}

.item__title{
    font: 800 32px/32px "Russo One", sans-serif;
}

.item__description{
    font: 800 22px/22px "Russo One", sans-serif;
}

.list-settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.menu-settings{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}