.phone {
    display: none
}
@media (pointer: coarse) or (hover: none) {
    body, html {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .pc {
        display: none
    }
    .phone {
        display: flex
    }
    .instruction {
        position: absolute;
        top: 15%;
        left: 30%;
        transform: translate(0, -50%);
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
    }
}