{% extends "base.html.twig" %}

{% block title %}
	Classic Game Over
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/game-over.css"/>
{% endblock %}
{% block script %}
	<script src="/js/game/game_over.js"></script>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="results-placeholder">
			<div class="results">
				<p class="result-title">финальный счет</p>
				<p class="score">{{lastScore}}</p>
				<p class="result-title max">личный счет</p>
				<p class="score">{{maxScore}}</p>
				<p class="result-title description">молодец! ещё немного! держи мотивирующее видео!</p>
				<div class="video-placeholder">
					<video controls height="300" poster="/images/cats.jpg">
						<source src="/video/ricroll.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
				</div>
				<a class="link">
					<p class="link__header again" id="link__back">сыграть заново</p>
				</a>
				<a href="/menu" class="link">
					<p class="link__header menu">вернуться в меню</p>
				</a>
			</div>
		</div>
	</div>
{% endblock %}