{% extends "base.html.twig" %}

{% block title %}
	40 Lines
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/game.css"/>
	<link rel="stylesheet" href="/css/swipe-events.css"/>
{% endblock %}
{% block content %}
	<main class="main">
		<div class="wrapper-game">
			<div class="wrapper-field">
				<div class="game__buffer">
					<p class="title buffer">буффер</p>
					<div class="buffer-wrapper">
						<img class="buffer__figure" src="" alt="figure">
					</div>
				</div>
				<canvas id="game"></canvas>
				<div class="next__figure">
					<p class="title next-figures">Следующие</p>
					<div class="wrapper-figures">
						<img class="figure" src="" alt="figure">
						<img class="figure" src="" alt="figure">
						<img class="figure" src="" alt="figure">
						<img class="figure" src="" alt="figure">
					</div>
				</div>
			</div>
			<div class="score-wrapper">
				<div class="score-value-wrapper">
					<p class="title-score">счет:</p>
					<p class="game__score">0</p>
				</div>
				<div class="score-value-wrapper">
					<p class="title-level">уровень:</p>
					<p class="game__level">0</p>
				</div>
				<div class="score-value-wrapper">
					<p class="title-lines">количество линий:</p>
					<p class="game__lines">0</p>
				</div>
			</div>
		</div>
	</main>
	{% include 'instruction.html.twig' %}
	<script src="/js/static/images.js"></script>
	<script src="/js/static/figures.js"></script>
	<script src="/js/game/figure.js"></script>
	<script src="/js/game/field.js"></script>
	<script src="/js/game/player.js"></script>
	<script src="/js/game/ui.js"></script>
	<script src="/js/game/game.js"></script>
	<script src="/js/game/40lines.js"></script>
	<script src="/js/game/game_end.js"></script>
	<script src="/js/swipe_events.js"></script>
{% endblock %}
