{% extends "base.html.twig" %}

{% block title %}
	multiplayer mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
{% endblock %}
{% block content %}
	<div class="bg bg_dark">
		<div class="header">
			<img src="/images/logo.png" alt="logo" class="logo"/>
		</div>
		<div class="select">
			<a href="/menu">
				<div class="back">
					<h1 class="back__button">
						назад
					</h1>
				</div>
			</a>
			<div class="links">
				<div class="link">
					<a href="/profile/Слава">
						<div class="link__text">
							<h1 class="link__title">
								ростислав глизерин
							</h1>
							<p class="link__subtitle">
								!!!
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/Иван">
						<div class="link__text">
							<h1 class="link__title">
								иван березин
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/Елисей">
						<div class="link__text">
							<h1 class="link__title">
								елисей карамышев
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/Дима">
						<div class="link__text">
							<h1 class="link__title">
								дмитрий беляев
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/Никита">
						<div class="link__text">
							<h1 class="link__title">
								никита дудинов
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
