{% extends "base.html.twig" %}

{% block title %}
	multiplayer mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
{% endblock %}
{% block content %}
	<div class="bg bg_dark">
		<div class="header">
			<img src="/images/logo.png" alt="logo" class="logo"/>
		</div>
		<div class="select">
			<a href="/menu">
				<div class="back">
					<h1 class="back__button">
						НАЗАД
					</h1>
				</div>
			</a>
			<div class="links">
				<div class="link">
					<a href="/game">
						<div class="link__text">
							<h1 class="link__title">
								РОСТИСЛАВ ГЛИЗЕРИН
							</h1>
							<p class="link__subtitle">
								!!!
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/game">
						<div class="link__text">
							<h1 class="link__title">
								ИВАН БЕРЕЗИН
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/game">
						<div class="link__text">
							<h1 class="link__title">
								ЕЛИСЕЙ КАРАМЫШЕВ
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/game">
						<div class="link__text">
							<h1 class="link__title">
								ДМИТРИЙ БЕЛЯЕВ
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/game">
						<div class="link__text">
							<h1 class="link__title">
								НИКИТА ДУДИНОВ
							</h1>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
