<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="../css/{% block style %}{% endblock %}"/>
        <script src="../js/{% block script %}{% endblock %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
