{% extends "base.html.twig" %}
{% block title %}
    Error Page
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/css/error.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
        <img src="/images/logo.png" alt="logo" class="logo">
        <div class="error">
            <h1 class="error-title">Ошибка №{{code}}</h1>
            <h2 class="error-subtitle">Причина: {{message}}</h2>
            <h2 class="error-links">Вы можете посетить:</h2>
            <div class="links">
                <a class="login" href="/login">Вход</a>
                <a class="register" href="/signup">Pегистрация</a> 
                <a class="menu" href="/menu">Меню</a>
            </div>
        </div>
    </div>
{% endblock %}