{% extends "base.html.twig" %}
{% block style %}game-over.css{% endblock %}
{% block script %}game-over.js{% endblock %}
{% block content %}
    <div class="bg">
        <div class="results-placeholder">
            <div class="results">
                <p class="result-title">ФИНАЛЬНЫЙ СЧЕТ</p>
                <p class="score">0</p>
                <p class="result-title">ЛИЧНЫЙ РЕКОРД</p>
                <p class="score">1</p>
                <p class="result-title">МОЛОДЕЦ! ЕЩЕ НЕМНОГО! ДЕРЖИ МОТИВИРУЮЩЕЕ ВИДЕО!</p>

                <div class="video-placeholder">
                    <video controls height="300" poster="../images/cats.jpg">
                    <source src="../video/ricroll.mp4" type="video/mp4">
                    Ваш браузер не поддерживает встроенные видео :(
                </video>
            </div>
                <div class="link">
                    <h1 class="link__header" onclick="window.location.href = '/game'">СЫГРАТЬ ЗАНОВО</h1>
                </div>
                <div class="link">
                    <h1 class="link__header" onclick="window.location.href = '/menu'">ВЕРНУТЬСЯ В МЕНЮ</h2>
                </div>
            </div>

        </div>
    </div>
{% endblock %}