{% extends "base.html.twig" %}

{% block title %}Tetris{% endblock %}
{% block style %}<link rel="stylesheet" href="/css/game.css"/>{% endblock %}
{% block content %}
<body>
   <main class="main">
        <img class="logo" src="/images/logo.svg" alt="logo">
        <div class="wrapper-game">
            <div class="game__buffer">
                <img class="buffer__figure" src="" alt="figure">
            </div>
            <canvas id="game">
                
            </canvas>
            <div class="next__figure">
                <img class="figure"  src="" alt="figure">
                <img class="figure"  src="" alt="figure">
                <img class="figure"  src="" alt="figure">
                <img class="figure"  src="" alt="figure">
            </div>
        </div>
        <p class="game__score"></p>
   </main>
</body>
<script src="/js/game/game-end.js"></script>
<script src="/js/game/player.js"></script>
<script src="/js/game/interface.js"></script>
<script src="/js/game/figures.js"></script>
<script src="/js/game/images.js"></script>
<script src="/js/game/game.js"></script>
{% endblock %}