<div class="instruction pc">
    <h1>инструкция</h1>
    <p class="instruction__text">движения по сторонам - соответствующие стрелочки или клавиши "ф" и "в"</p>
    <p class="instruction__text">ускорение падения - стрелочка вниз или кнопка "ы"</p>
    <p class="instruction__text">моментальная установка - пробел</p>
    <p class="instruction__text">поворот фигуры по часовой стрелке - клавиша "ц"</p>
    <p class="instruction__text">использование буффера - левый шифт (фигуры поменяются местами, обратно можно будет поменять только следующую фигуру)</p>
    <p class="instruction__text">пауза - клавиша "з"</p>
</div>

<div class="instruction phone">
    <h1>инструкция</h1>
    <p class="instruction__text">движения по сторонам - свайпы влево и вправо</p>
    <p class="instruction__text">ускорение падения - удерживание на экране</p>
    <p class="instruction__text">моментальная установка - один тап по экрану</p>
    <p class="instruction__text">поворот фигуры по часовой стрелке - свайп вверх </p>
    <p class="instruction__text">использование буффера - свайп вниз (фигуры поменяются местами, обратно можно будет поменять только следующую фигуру)</p>
</div>