{% extends "base.html.twig" %}

{% block title %}Blitz Game Over{% endblock %}
{% block style %}<link rel="stylesheet" href="/css/game-over.css"/>{% endblock %}
{% block content %}
    <div class="bg">
        <div class="results-placeholder">
            <div class="results">
                <p class="result-title">финальное время</p>
                <p class="score">{{lastScore}}</p>
                <p class="result-title">минимальное время</p>
                <p class="score">{{maxScore}}</p>
                <p class="result-title">молодец! ещё немного! держи мотивирующее видео!</p>

                <div class="video-placeholder">
                    <video controls height="300" poster="/images/cats.jpg">
                    <source src="/video/ricroll.mp4" type="video/mp4">
                    Ваш браузер не поддерживает встроенные видео :(
                </video>
            </div>
                <div class="link">
                    <h1 class="link__header" onclick="window.location.href = '/l40'">сыграть заново</h1>
                </div>
                <div class="link">
                    <h1 class="link__header" onclick="window.location.href = '/menu'">вернуться в меню</h1>
                </div>
            </div>

        </div>
    </div>
{% endblock %}