{% extends "base.html.twig" %}

{% block title %}Lobby{% endblock %}
{% block style %}<link rel="stylesheet" href="/css/lobby.css"/>{% endblock %}
{% block script %}<script src="/js/lobby.js"></script>{% endblock %}
{% block content %}
<body>
     <div class="bg">
        <div class="header">
            <img src="/images/settings.png" alt="settings" class="set">
            <img src="/images/logo.png" alt="logo" class="logo">
            <div class="profile">
                <p class="profile__nickname">{{user.login ?? 'Славянин'}}</p>
                <img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
            </div>
        </div>
        <div class="main">
            <div class="players">
                <div class="list-players">
                    <div class="player">
                        <p class="player__name">Никита</p>
                        <img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
                    </div>
                    <div class="player">
                        <p class="player__name">Иван</p>
                        <img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
                    </div>
                    <div class="player">
                        <p class="player__name">Елисей</p>
                        <img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
                    </div>
                    <div class="player">
                        <p class="player__name">Дима</p>
                        <img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
                    </div>
                </div>
            </div>
            <div class="settings">
                <p class="settings__header">НАСТРОЙКИ</p>

                <div class="settings__size">
                    <p class="settings__text">РАЗМЕР ПОЛЯ: </p>
                    <div class="setting">
                        <div class="wrapper-setting">
                           <p id="size" class="settings__text-size">БИГ</p>
                           <img class="triangle" src="/images/triangle.png">
                        </div>
                        <hr class="line-settings">
                    </div>
                </div>
                <div class="settings__music">
                    <p class="settings__text">МУЗЫКА: </p>
                    <div class="setting">
                        <div class="wrapper-setting">
                           <p id="music" class="settings__text-music">КАРАБЕЙНИКИ</p>
                           <img class="triangle" src="/images/triangle.png">
                        </div>
                        <hr class="line-settings">
                    </div>
                </div>
                <div class="settings__complexity">
                    <p class="settings__text">СЛОЖНОСТЬ: </p>
                    <div class="setting">
                        <div class="wrapper-setting">
                          <p id="difficulty" class="settings__text-difficulty">КАК ПОЛЕ ВСПАХАТЬ</p>
                           <img class="triangle" src="/images/triangle.png">
                        </div>
                        <hr class="line-settings">
                    </div>
                </div>
                <div class="settings__background">
                    <p class="settings__text">ЗАДНИЙ ФОН: </p>
                    <div class="setting">
                        <div class="wrapper-setting">
                           <p id="bg" class="settings__text-bg">ISPRING</p>
                           <img class="triangle" src="/images/triangle.png">
                        </div>
                        <hr class="line-settings">
                    </div>
                </div>
                {# <button class="link">ХОЛОП</button>
                <button class="link">КРЕСТЬЯНИН</button>
                <button class="link">БОЯРИН</button> #}
            </div>
        </div>
        <div class="user-profile">
            <div class="user-profile__header">
                <div class="user-profile__player">
                    <img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
                    <p class="profile__nickname">{{user.login ?? 'Славянин'}}</p>
                </div>
                <div class="user-profile__exit">
                    <button class="exit">Exit</button>
                    <a class="full-profile" href="/">Profile</a>
                </div>  
            </div>
            <div class="statistics">
                <div class="max-score">
                    <p class="statistics__text">МАКСИМУМ ОЧКОВ</p>
                    <div class="line"></div>
                    <p>14100</p>
                </div>
                <div class="count-win">
                    <p class="statistics__text">ВСЕГО ПОБЕД</p>
                    <div class="line"></div>
                    <p>11</p>
                </div>
                <div class="count-game">
                    <p class="statistics__text">ВСЕГО ИГР</p>
                    <div class="line"></div>
                    <p>2</p>
                </div>               
            </div>
        </div>
        <div class="list-settings">
            <div class="menu">
            </div>
        </div>
    </div>
</body>
<script src="/js/game/game-mode-multiplayer.js"></script>
{% endblock %}
