{% extends "base.html.twig" %}

{% block title %}
	solo mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/><link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block script %}
	<script src="/js/game_modes/game_mode_singleplayer.js"></script>
	<script src="/js/mini-profile.js"></script>
{% endblock %}
{% block content %}
	<div class="bg bg_dark">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings"/>
			<img src="/images/logo.png" alt="logo" class="logo"/>
			<div class="profile">
				{% if not user or not user.login %}
					<a href="{{ path('register') }}">
						<div class="profile">
							<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
							<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
						</div>
					</a>
				{% else %}
					<div class="profile">
						<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
					</div>
				{% endif %}
			</div>
		</div>
		<div class="select">
			<a href="/menu">
				<div class="back">
					<h1 class="back__button">
						назад
					</h1>
				</div>
			</a>
			<div class="links">
				<a href="/select_classic_mode" class="link zen link_with-image">
					<div class="img-placeholder">
						<img src="/images/zen.png" alt="zen" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title zen__title">
							классический режим
						</h1>
						<p class="link__subtitle zen__subtitle">
							попробуй свои силы в классическом тетрисе без ограничений
						</p>
					</div>
				</a>
				<a href="/select_classic_mode" class="link blitz link_with-image">
					<div class="img-placeholder">
						<img src="/images/blitz.png" alt="blitz" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title blitz__title">
							блитц
						</h1>
						<p class="link__subtitle blitz__subtitle">
							двухминутная битва против времени
						</p>
					</div>
				</a>
				<a href="/select_classic_mode" class="link l40 link_with-image">
					<div class="img-placeholder">
						<img src="/images/l40.png" alt="l40" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title l40__title">
							40 линиий
						</h1>
						<p class="link__subtitle l40__subtitle">
							собери 40 линиий как можно быстрее
						</p>
					</div>
				</a>
				<a href="/select_classic_mode" class="link bot link_with-image">
					<div class="img-placeholder">
						<img src="/images/bot.png" alt="bot" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title bot__title">
							битва с боссом
						</h1>
						<p class="link__subtitle bot__subtitle">
							сможешь справиться с искуственным интеллектом?
						</p>
					</div>
				</a>
				<a href="/select_koop_mode" class="link koop link_with-image">
					<div class="img-placeholder">
						<img src="/images/koop.png" alt="koop" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title koop__title">
							кооперативный режим
						</h1>
						<p class="link__subtitle koop__subtitle">
							играй с другом на одном поле и соберите тетрис вместе
						</p>
					</div>
				</a>
			</div>
		</div>
		{% include 'mini-profile.html.twig' %}
	</div>
{% endblock %}
