{% extends "base.html.twig" %}

{% block title %}
	solo classic mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
{% endblock %}
{% block content %}
<body>
	<div class="bg bg_dark">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings"/>
			<img src="/images/logo.png" alt="logo" class="logo"/>
			<div class="profile">
				<a href="/{{ user.login ?? 'signup' }}">
					<div class="profile">
						<p class="profile__nickname">
							{{ user.login ?? 'Славянин' }}
						</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar"/>
					</div>
				</a>
			</div>
		</div>
		<div class="select">
			<a href="/menu">
				<div class="back">
					<h1 class="back__button">
						НАЗАД
					</h1>
				</div>
			</a>
			<div class="links">
				<div class="link">
					<div class="link__text">
						<h1 class="link__title">
							ХОЛОП
						</h1>
						<p class="link__subtitle">
							МАЛЕНЬКИЙ РАЗМЕР ПОЛЯ И МЕДЛЕННАЯ ИГРА
						</p>
					</div>
				</div>
				<div class="link">
					<div class="link__text">
						<h1 class="link__title">
							КРЕСТЬЯНИН
						</h1>
						<p class="link__subtitle">
							КЛАССИЧЕСКИЕ РАЗМЕР ПОЛЯ И СКОРОСТЬ ИГРЫ
						</p>
					</div>
				</div>
				<div class="link">
					<div class="link__text">
						<h1 class="link__title">
							БОЯРИН
						</h1>
						<p class="link__subtitle">
							БОЛЬШОЙ РАЗМЕР ПОЛЯ И БЫСТРАЯ ИГРА
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	<script src="/js/game/game-mode.js"></script>
{% endblock %}
