{% extends "base.html.twig" %}

{% block title %}
	multiplayer mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
{% endblock %}
{% block content %}
	<div class="bg bg_dark">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings"/>
			<img src="/images/logo.png" alt="logo" class="logo"/>
			<div class="profile">
				<a href="/{{ user.login ?? 'signup' }}">
					<div class="profile">
						<p class="profile__nickname">
							{{ user.login ?? 'славянин' }}
						</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar"/>
					</div>
				</a>
			</div>
		</div>
		<div class="select">
			<a href="/menu">
				<div class="back">
					<h1 class="back__button">
						назад
					</h1>
				</div>
			</a>
			<div class="links">
				<a href="/lobby" class="link custom link_with-image">
					<div class="img-placeholder">
						<img src="/images/custom.png" alt="custom" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title custom__title">
							создать лобби
						</h1>
						<p class="link__subtitle custom__subtitle">
							кастомизируй игру и сразись с друзьями
						</p>
					</div>
				</a>
				<a href="/lobby" class="link listing link_with-image">
					<div class="img-placeholder">
						<img src="/images/listing.png" alt="listing" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title listing__title">
							войти в лобби
						</h1>
						<p class="link__subtitle listing__subtitle">сразись с друзьями на их правилах
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
