{% extends "base.html.twig" %}

{% block title %}
	solo mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
{% endblock %}
{% block content %}
	<div class="bg bg_dark">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings"/>
			<img src="/images/logo.png" alt="logo" class="logo"/>
			<div class="profile">
				<a href="/{{ user.login ?? 'signup' }}">
					<div class="profile">
						<p class="profile__nickname">
							{{ user.login ?? 'Славянин' }}
						</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar"/>
					</div>
				</a>
			</div>
		</div>
		<div class="select">
			<a href="/menu">
				<div class="back">
					<h1 class="back__button">
						НАЗАД
					</h1>
				</div>
			</a>
			<div class="links">
				<a href="/select_classic_mode" class="link zen link_with-image">
					<div class="img-placeholder">
						<img src="/images/zen.png" alt="zen" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title zen__title">
						КЛАССИЧЕСКИЙ РЕЖИМ
						</h1>
						<p class="link__subtitle zen__subtitle">
						ПОПРОБУЙ СВОИ СИЛЫ В КЛАССИЧЕСКОМ ТЕТРИСЕ БЕЗ ОГРАНИЧЕНИЙ
						</p>
					</div>
				</a>
				<a href="/game" class="link blitz link_with-image">
					<div class="img-placeholder">
						<img src="/images/blitz.png" alt="blitz" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title blitz__title">
						БЛИТЦ
						</h1>
						<p class="link__subtitle blitz__subtitle">
						ДВУХМИНУТНАЯ БИТВА ПРОТИВ ВРЕМЕНИ
						</p>
					</div>
				</a>
				<a href="/game" class="link l40 link_with-image">
					<div class="img-placeholder">
						<img src="/images/l40.png" alt="l40" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title l40__title">
						40 ЛИНИЙ
						</h1>
						<p class="link__subtitle l40__subtitle">
						СОБЕРИ 40 ЛИНИЙ КАК МОЖНО БЫСТРЕЕ
						</p>
					</div>
				</a>
				<a href="/game" class="link bot link_with-image">
					<div class="img-placeholder">
						<img src="/images/bot.png" alt="bot" class="link__image">
					</div>
					<div class="link__text">
						<h1 class="link__title bot__title">
						БИТВА С БОССОМ
						</h1>
						<p class="link__subtitle bot__subtitle">
						СМОЖЕШЬ СПРАВИТЬСЯ С ИСКУСТВЕННЫМ ИНТЕЛЕКТОМ?
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
