{% extends "base.html.twig" %}

{% block title %}
	About Us
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block content %}
	<div class="bg bg_dark">
		<div class="header">
			{% include 'header.html.twig' %}
		</div>
		<div class="select">
			<a href="/menu" class="back-button-link">
					<h1>
						назад
					</h1>
			</a>
			<div class="links">
				<div class="link">
					<a href="/profile/СЛАВА">
						<div class="link__text">
							<p class="link__title">
								ростислав глизерин
							</p>
							<p class="link__subtitle">
								!!!
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/ИВАН">
						<div class="link__text">
							<p class="link__title">
								иван березин
							</p>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/ЕЛИСЕЙ">
						<div class="link__text">
							<p class="link__title">
								елисей карамышев
							</p>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/ДИМА">
						<div class="link__text">
							<p class="link__title">
								дмитрий беляев
							</p>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
				<div class="link">
					<a href="/profile/НИКИТА">
						<div class="link__text">
							<p class="link__title">
								никита дудинов
							</p>
							<p class="link__subtitle">
								???
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
