{% extends "base.html.twig" %}

{% block title %}
	Leaderboard
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/leaderboard.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			{% include 'header.html.twig' %}
		</div>
		<div class="menu">
			<div class="max__score">
				<div class="menu__title">
					<h1>max score</h1>
					<h2>топ игроков по максимальному счету</h2>
				</div>
			</div>
			<div class="max__win">
				<div class="menu__title">
					<h1>max win</h1>
					<h2>топ игроков по количеству побед</h2>
				</div>
			</div>
			<div class="max__total">
				<div class="menu__title">
					<h1>max total score</h1>
					<h2>топ игроков по суммарному счету</h2>
				</div>
			</div>
		</div>	
	</div>
	{% include 'mini-profile.html.twig' %}
	<script src="/js/menu/leaderboard.js"></script>
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
