{% extends "base.html.twig" %}

{% block title %}
	Leaderboard
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/leaderboard.css"/><link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings">
			<img src="/images/logo.png" alt="logo" class="logo">
			<div class="profile">
				{% if not user or not user.login %}
					<a href="{{ path('register') }}">
						<div class="profile">
							<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
							<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
						</div>
					</a>
				{% else %}
					<div class="profile">
						<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
					</div>
				{% endif %}
			</div>
		</div>
		<div class="menu">
			
		</div>	
	</div>
	{% include 'mini-profile.html.twig' %}
</body>
<script src="/js/leaderboard.js"></script>
<script src="/js/mini-profile.js"></script>
{% endblock %}
