{% extends "base.html.twig" %}

{% block title %}
	Leaderboard
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/leaderboard.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings">
			<img src="/images/logo.png" alt="logo" class="logo">
			<div class="profile">
				{% if player is not defined %}
					<a href="{{ path('register') }}">
						<div class="profile">
							<p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
							<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
						</div>
					</a>
				{% else %}
					<div class="profile">
						<p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
					</div>
				{% endif %}
			</div>
		</div>
		<div class="menu">
			<div class="max__score">
				<div class="menu__title">
					<h1>max score</h1>
					<h2>топ игроков по максимальному счету</h2>
				</div>
			</div>
			<div class="max__win">
				<div class="menu__title">
					<h1>max win</h1>
					<h2>топ игроков по максимальному количеству побед</h2>
				</div>
			</div>
			<div class="max__average">
				<div class="menu__title">
					<h1>max average score</h1>
					<h2>топ игроков по максимальному  среднему счету</h2>
				</div>
			</div>
		</div>	
	</div>
	{% include 'mini-profile.html.twig' %}
	<script src="/js/menu/leaderboard.js"></script>
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
