{% extends "base.html.twig" %}

{% block title %}
	Menu
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block content %}
	<div class="header">	
		<a href="/settings">
			<img src="/images/settings.png" alt="settings" class="settings"/>
		</a>
		<img src="/images/logo.png" alt="logo" class="logo">
		<div class="profile">
			<a href="{{(player.user.login ?? null) ? path("profile", {login: player.user.login}) : path('login') }}">
				<div class="profile">
					<p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
					<img src="../uploads/{{player.getAvatar() ?? "avatar-placeholder.png"}}" alt="avatar" class="profile__avatar">
				</div>
			</a>
		</div>
	</div>
	<div class="menu">
		<div class="links">
			<a href="/select_solo_mode" class="link solo link_with-image">
				<div class="img-placeholder">
					<img src="/images/solo.png" alt="solo" class="link__image">
				</div>
				<div class="link__text">
					<p class="link__title solo__title">
						однопользовательский режим
					</p>
					<p class="link__subtitle solo__subtitle">
						превзойди себя и поставь новый рекорд
					</p>
				</div>
			</a>
			<a href="/select_multiplayer_mode" class="link multiplayer link_with-image">
				<div class="img-placeholder">
					<img src="/images/multiplayer.png" alt="multiplayer" class="link__image">
				</div>
				<div class="link__text">
					<p class="link__title multiplayer__title">
						многопользовательский режим
					</p>
					<p class="link__subtitle multiplayer__subtitle">
						играйте онлайн с друзьями
					</p>
				</div>
			</a>
			<a href="/about" class="link about link_with-image">
				<div class="img-placeholder">
					<img src="/images/about.png" alt="about" class="link__image">
				</div>
				<div class="link__text">
					<p class="link__title about__title">
						про нас
					</p>
					<p class="link__subtitle about__subtitle">
						узнайте все о славянах
					</p>
				</div>
			</a>
			<a href="/leaderboard" class="link leaders link_with-image">
				<div class="img-placeholder">
					<img src="/images/leaders.png" alt="about" class="link__image">
				</div>
				<div class="link__text">
					<p class="link__title leaders__title">
						таблица лидеров
					</p>
					<p class="link__subtitle leaders__subtitle">
						узрите настоящих героев тетриса
					</p>
				</div>
			</a>
		</div>
	</div>	
	<script src="/js/menu/menu.js"></script>
{% endblock %}