{% extends "base.html.twig" %}

{% block title %}
	solo classic mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block script %}
	<script src="/js/game/game-mode.js"></script>
{% endblock %}
{% block content %}
	<div class="header">
		{% include 'header.html.twig' %}
	</div>
	<div class="select">
		<a href="/menu" class="back-button-link">
					<h1>
						назад
					</h1>
				</a>
		<div class="links">
			<a href="/koop" class="link">
				<div class="link__text">
					<p class="link__title">
						локальная игра
					</p>
					<p class="link__subtitle">
						сыграйте с другом на одном поле и одном компьютере (коммунизм победил)
					</p>
				</div>
			</a>
			<a href="/koop" class="link">
				<div class="link__text">
					<p class="link__title">
						сетевая игра
					</p>
					<p class="link__subtitle">
						сыграйте с другом на одном поле и своих компьютерах (капитализм победил)
					</p>
				</div>
			</a>
		</div>
	</div>
{% include 'mini-profile.html.twig' %}
<script src="/js/menu/mini-profile.js"></script>
{% endblock %}