{% extends "base.html.twig" %}

{% block title %}
	solo classic mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block script %}
	<script src="/js/game/game-mode.js"></script>
{% endblock %}
{% block content %}
	<div class="header">
		<a href="/settings">
			<img src="/images/settings.png" alt="settings" class="settings"/>
		</a>
		<img src="/images/logo.png" alt="logo" class="logo"/>
		<div class="profile">
			{% if player is not defined %}
				<a href="{{ path('register') }}">
					<div class="profile">
						<p class="profile__nickname">{{player.login ?? 'славянин'}}</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
					</div>
				</a>
			{% else %}
				<div class="profile">
					<p class="profile__nickname">{{player.login ?? 'славянин'}}</p>
					<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
				</div>
			{% endif %}
		</div>
	</div>
	<div class="select">
		<a href="/menu">
			<div class="back">
				<p class="back__button">
					назад
				</p>
			</div>
		</a>
		<div class="links">
			<a href="/koop" class="link">
				<div class="link__text">
					<p class="link__title">
						локальная игра
					</p>
					<p class="link__subtitle">
						сыграйте с другом на одном поле и одном компьютере (коммунизм победил)
					</p>
				</div>
			</a>
			<a href="/koop" class="link">
				<div class="link__text">
					<p class="link__title">
						сетевая игра
					</p>
					<p class="link__subtitle">
						сыграйте с другом на одном поле и своих компьютерах (капитализм победил)
					</p>
				</div>
			</a>
		</div>
	</div>
{% include 'mini-profile.html.twig' %}
<script src="/js/menu/mini-profile.js"></script>
{% endblock %}