{% extends "base.html.twig" %}

{% block title %}
	solo classic mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block script %}
	<script src="/js/game_modes/game_mode_size.js"></script>
{% endblock %}
{% block content %}
	<div class="header">
		{% include 'header.html.twig' %}
	</div>
	<div class="select">
		<a href="/select_solo_mode" class="back-button-link">
					<h1>
						назад
					</h1>
				</a>
		<div class="links">
			<div class="link">
				<div class="link__text">
					<p class="link__title small">
						холоп
					</p>
					<p class="link__subtitle small">
						маленький размер поля
					</p>
				</div>
			</div>
			<div class="link">
				<div class="link__text">
					<p class="link__title medium">
						крестьянин
					</p>
					<p class="link__subtitle medium">
						классический размер поля
					</p>
				</div>
			</div>
			<div class="link">
				<div class="link__text">
					<p class="link__title large">
						боярин
					</p>
					<p class="link__subtitle large">
						большой размер поля
					</p>
				</div>
			</div>
		</div>
	</div>
	{% include 'mini-profile.html.twig' %}
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
