{% extends "base.html.twig" %}

{% block title %}
	solo classic mode
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/select.css"/><link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block script %}
	<script src="/js/game_modes/game_mode_size.js"></script>
	<script src="/js/mini-profile.js"></script>
{% endblock %}
{% block content %}
	<body>
		<div class="bg bg_dark">
			<div class="header">
				<img src="/images/settings.png" alt="settings" class="settings"/>
				<img src="/images/logo.png" alt="logo" class="logo"/>
				<div class="profile">
					{% if not user or not user.login %}
						<a href="{{ path('register') }}">
							<div class="profile">
								<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
								<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
							</div>
						</a>
					{% else %}
						<div class="profile">
							<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
							<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
						</div>
					{% endif %}
				</div>
			</div>
			<div class="select">
				<a href="/select_solo_mode">
					<div class="back">
						<h1 class="back__button">
							назад
						</h1>
					</div>
				</a>
				<div class="links">
					<div class="link">
						<div class="link__text">
							<h1 class="link__title small">
								холоп
							</h1>
							<p class="link__subtitle small">
								маленький размер поля
							</p>
						</div>
					</div>
					<div class="link">
						<div class="link__text">
							<h1 class="link__title medium">
								крестьянин
							</h1>
							<p class="link__subtitle medium">
								классический размер поля
							</p>
						</div>
					</div>
					<div class="link">
						<div class="link__text">
							<h1 class="link__title large">
								боярин
							</h1>
							<p class="link__subtitle large">
								большой размер поля
							</p>
						</div>
					</div>
				</div>
			</div>
			{% include 'mini-profile.html.twig' %}
		</div>	
	</body>
{% endblock %}
