{% extends "base.html.twig" %}
{% block style %}register-style.css{% endblock %}
{% block script %}register.js{% endblock %}
{% block content %}
        <main class="main">
            <div class="title">
                <img class="logo" src="../images/logo.svg">
            </div>
            <div class="login">
                <p class="login__title">ДОБРО ПОЖАЛОВАТЬ В СЛАВЯНСКИЙ ТЕТРИС!</p>
                <div class="login-input">
                    <input class="login-input__username-input" type="username" placeholder="ЛОГИН">
                    <p class="login-input__username-validation">НЕПРАВИЛЬНЫЙ ФОРМАТ ЛОГИНА</p>
                    <p class="login-input__username-require">ВВЕДИТЕ ЛОГИН</p>
                    <input class="login-input__password-input" type="password" placeholder="ПАРОЛЬ">
                    <p class="login-input__password-require">ВВЕДИТЕ ПАРОЛЬ</p>
                    <p class="login-input__password-validation">ПАРОЛЬ ДОЛЖЕН СОДЕРЖАТЬ НЕ МЕНЕЕ 8 СИМВОЛОВ</p>                  
                    <div class="login-input__button">
                        <input class="Register" type="submit" value="Регистрация"/> 
                        <input class="LogIn" type="submit" value="Вход"/>
                    </div>
                </div>
            </div>
        </main> 
{% endblock %}