{% extends "base.html.twig" %}

{% block title %}
	Multiplayer Game Over
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/game-over-multi.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			<input class="player_id" type="hidden" value="{{ player.id ?? 0}}">
			{% include 'header.html.twig' %}
		</div>
		<div class="results-placeholder">
			<div class="results">
				<div class="results__header">
					<p class="results__title">№0</p>
				</div>
				<div class="players">
				</div>
			</div>
		</div>
		<a class="back__link">
			<div class="back">
				<p class="back__button">
					сыграть заново
				</p>
			</div>
		</a>
		{% include 'mini-profile.html.twig' %}	
	</div>
	<script src="/js/game/game_over_multi.js"></script>
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
