{% extends "base.html.twig" %}

{% block title %}
	Multiplayer Game Over
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/game-over-multi.css"/><link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings">
			<img src="/images/logo.png" alt="logo" class="logo">
			<input class="player_id" type="hidden" value="{{ user.playerId ?? 0}}">
			<div class="profile">
				{% if not user or not user.login %}
					<a href="{{ path('register') }}">
						<div class="profile">
							<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
							<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
						</div>
					</a>
				{% else %}
					<div class="profile">
						<p class="profile__nickname">{{user.login ?? 'славянин'}}</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
					</div>
				{% endif %}
			</div>
		</div>
		<div class="results-placeholder">
			<div class="results">
				<div class="results__header">
					<p class="results__title">№0</p>
					<div class="results__time">
						<p class="time__text">Количество Очков</p>
						<p class="time__value">0</p>
					</div>
				</div>
				<div class="players">
				</div>
			</div>
		</div>
		<a class="back__link">
			<div class="back">
				<p class="back__button">
					сыграть заново
				</p>
			</div>
		</a>
		{% include 'mini-profile.html.twig' %}	
	</div>
	<script src="/js/game/game_over.js"></script>
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
