{% extends "base.html.twig" %}

{% block title %}
	List Lobby
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/list_lobby.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
	<link rel="stylesheet" href="/css/header.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			{% include 'header.html.twig' %}
		</div>
		<div class="join-lobby">
			<h2 class="join-title">Найти лобби по уникальному имени</h2>
		</div>
		<h1 class="list-title">Список лобби<h1>
		<div class="menu"></div>
		{% include 'mini-profile.html.twig' %}
	</div>
	<script src="/js/menu/list_lobby.js"></script>
	<script src="/js/multiplayer/list_lobby-socket.js"></script>
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
