{% extends "base.html.twig" %}

{% block title %}
	List Lobby
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/list_lobby.css"/>
	<link rel="stylesheet" href="/css/mini-profile.css"/>
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="header">
			<img src="/images/settings.png" alt="settings" class="settings">
			<img src="/images/logo.png" alt="logo" class="logo">
			<div class="profile">
				{% if player is not defined %}
					<a href="{{ path('register') }}">
						<div class="profile">
							<p class="profile__nickname">{{player.login ?? 'славянин'}}</p>
							<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
						</div>
					</a>
				{% else %}
					<div class="profile">
						<p class="profile__nickname">{{player.login ?? 'славянин'}}</p>
						<img src="/images/avatar-placeholder.png" alt="avatar" class="profile__avatar">
					</div>
				{% endif %}
			</div>
		</div>
		<div class="join-lobby">
			<h2 class="join-title">Найти лобби по уникальному имени</h2>

			<div class="row">
				<a href="/select_multiplayer_mode">
					<div class="back">
						<p class="back__button">
							назад
						</p>
					</div>
				</a>
				<div class="joinn">
					<input type="string" id="join" class="join" name="join">
					<button class="join-button">Войти в лобби</button>
				</div>
			</div>
		</div>
		<h1 class="list-title">Список лобби<h1>
		<div class="menu"></div>
		{% include 'mini-profile.html.twig' %}
	</div>
	<script src="/js/menu/list_lobby.js"></script>
	<script src="/js/multiplayer/list_lobby-socket.js"></script>
	<script src="/js/menu/mini-profile.js"></script>
{% endblock %}
